*{
    margin:  0 auto;
    font-family: 'Barlow Semi Condensed', sans-serif;

}
.container{
    width: 1500px;
    height:100%;
    position:absolute;
    background-color:#fff;
}
.bg-container{
    
    width: 500px;
   
     padding: 40px 0px;
    background: #FFCFCF;
    border-radius: 15px;

}
.tab{
    position: fixed;
}
#defaultOpen{
    padding-left: 35px;
}
.taskheader{
    color: #756B6B;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    
    line-height: 35px;
   margin-top:200px;
   margin-bottom: 20px;
    text-align: center;

}
.taskheader span{
    color:red;
    font-family: 'Oswald', sans-serif;
}
.login{
    text-align: center;
    padding-top: 40px;
    
}

.login-input{
    width:280px;
    height: 35px;
    border: 1px solid #B60000;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;
    padding-left: 5px;
    outline:none;
}
::placeholder{
    color:black;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    padding-left: 5px;
    font-family:'Barlow Semi Condensed', sans-serif; 
}

.new-user-link{
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    color:black;
    margin-top:80px;
    
}
.new-user-link a{
    color:black;
    text-decoration: none;
   
}
.new-user-link a:hover{
    color:red;
}
/*end of login*/

/*start of register*/

.reg-container{
    
    width: 500px;
    height: 251px;
     padding: 50px 30px;
    background: #FFCFCF;
    border-radius: 15px;

}
.registerheader{
    color: #756B6B;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
   margin-top:200px;
   margin-bottom: 20px;
    text-align: center;

}
.registerheader span{
    color:red;
    font-family: 'Oswald', sans-serif;
}

.register-input{
    width:280px;
    height: 35px;
    border: 1px solid #B60000;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 20px;
    padding-left: 5px;
    outline:none;
   
}
.next{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.reg{
    width:500px;
}
.btn-register{
    font-size: 14px;
    padding:10px;
    margin-top: 14px;
    color:#fff;
    background-color:#B60000;
    width:100%;
    border:none;
    border-radius:3px;
}
/*Tab*/


.tabheader{
    color: #756B6B;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    padding: 15px;
    padding-left: 35px;
   margin-bottom: 20px;
    text-align: left;
    border-bottom: 2px solid #B60000;

}
.tabheader span{
    color:red;
    font-family: 'Oswald', sans-serif;
}
.user{
 
   position:absolute;
   left:0;
   right: 0;
    bottom: 0;
    padding: 15px;
    padding-left: 35px;
    font-family:'Oswald', sans-serif ;
    font-size: 18px;
    font-weight: bold;
    border-top:2px solid #B60000 ;
   
}


.contain{
    background-color: #fff;
    
   
}

  
 
  tabcontent{
    flex: 50%;
    padding: 10px;
    
  }

 #new-task{
    width: 90%;
    padding-top: 40px;
   text-align: center;
    
 }
 #new-task p{
     color:#756B6B;
     font-size: 20px;
     line-height: 33px;
     padding-top: 19px;
 }
 #new-task h3{
     color:#282828;
     text-align: left;
     width: 60%;
     padding: 1rem 14.5rem;
 }
 

 .tab button {
    display: block;
    font-size: 18px;
    font-weight: 600;
    background-color: inherit;
    color: black;
    padding: 22px 6px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  .tab {
    float: left;
    width: 20%;
   height: 100vh;
    border: 1px solid #ccc;
    font-size: 40px;
  font-style: 500;
    background-color:#FFCFCF;
   
     

  }

  .tabcontent h3{
      font-size: 40px;
      color:#A8A8A8;
     
  }

  .task-btn{
      width:170px;
      font-size: 20px;
      background:#B60000;
      color:#fff;
      padding:13px;
      margin-top: 15px;
      border:none;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);

  }
  .task-btn a{
      color:white;
       text-decoration: none;}

  .task-btn:hover{
    width:170px;
    background:#ca0202;
    color:#fff;
    padding:13px;
    margin-top: 15px;
    border:none;
    animation: anim 3s;

}

#border-line{
    padding-left: 28px;
border-bottom: 2px solid #B60000;
}

/*Frame4*/
.input-frame{
    width:60%;
    height: 70px;

    border:none;
    text-align: left;
    margin-bottom: 25px;
    border-bottom:2px solid #B60000;
}
.input-frame:focus{
    outline: none;
    font-size: 18px;

    line-height: 20px;
}

.input-frame::placeholder{
    font-size: 18px;

     line-height: 20px;}

/*button*/

.frame4-btn{
    width:60%;
    height:45px;
    background-color: #B60000;
    color:#fff;
    outline:none;
    border:none;
    border-radius: 3px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.input:focus{
    outline: none !important;
}

.frame4-btn:hover{
    width:60%;
    background:#ca0202;
    color:#fff;
    height:45px;
    outline: none;
    border:none;
    animation: anim 3s;

}

.item-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
ul{
  width:60%;
 
  padding: 1rem 14.5rem;
}

    

    



.item-wrapper ul li{
    margin-top: 30px;
    background: #ffffff;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
    padding: 35px;
    border-radius: 10px;
    list-style: none;
    font-size: 19px;
    line-height: 22px;
    
}

.close{
    font-size: 14px;
    color:#756B6B;
    margin-left: 140px;
    cursor: pointer;
}
.close:hover{
    font-size: 14px;
    color:#ff0909;
    margin-left: 140px;
    cursor: pointer;
}

#new-task{
  /*  position:absolute;*/
    display:flex;
    width:80%;
    padding-top: 40px;
   text-align: center;
   /*left:9%; */
}


   